.progress-bar{
			width: 6rem;
			position: relative;
			aspect-ratio: 1/1;
			background: conic-gradient(	#1dd1a1 270deg,#202020 0deg);
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			
		}
		.Circular-bar-item{
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			row-gap:.5rem;
			margin-bottom:.5rem;
		}
		span{
			z-index: 3;
			font-size: 1.2rem;
			font-weight: 500;
		}
		.progress-bar::before{
			position: absolute;
			content: '';
			width: 5rem;
			aspect-ratio: 1/1;
			border-radius: 50%;
			background: black;
		}
		